/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
:root
{
    --main-color:#0aad0a;
    --light-color:#f0f3f2;
    --shadow: rgba(145,158,171,.2) 0px 2px 4px -1px,rgba(145,158,171,.14) 0px 4px 5px 0px,rgba(145,158,171,.12) 0px 1px 10px 0px;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body{
    font-family: var(--font-family) !important;
    overflow-x: hidden;
}
.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a , a:hover{
    color: black;
    text-decoration: none !important; 
}
.product:hover
{
    box-shadow: var(--shadow);
    border: solid 1px var(--main-color);
}
.product .btn 
{
    transition: transform 1s , opacity 1s;
    transform: translateY(100%);
    opacity: 0;
}
.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);

}
.font-sm
{
    font-size: 14px;
}
.text-main
{
    color: var(--main-color);
}
.bg-main
{
    background-color: var(--main-color) !important;
}
.bg-main-light 
{
    background-color: var(--light-color) !important;
}
.btn:disabled{
    
    background-color: var(--main-color) !important;
}

.parent{
    min-height: 100vh;
    display: grid;
    grid-template-rows:auto 1fr auto;
}

aside{
    width: 100%;
    background-color: var(--light-color);
    position: absolute;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: 99999;
    overflow-y: auto !important;
}

span.cart{
width: 30px;
height: 30px;
top: -10px;
left: 25px;
    color: var(--main-color);
  
}



.badge {
    background-color: var(--main-color);
    border-radius: 15px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.shopping-cart {
  margin: 20px 0;
  float: right;
  background: white;
  width: 320px;
  position: relative;
  border-radius: 3px;
  padding: 20px;
  
}
/* 
.modal{
    top: 40% !important;
    position: fixed;
} */

.profile span{
    color: #0aad0a;
    transition: all 0.5s;
    border-radius: 20px;
}
.profile span:hover{
    background-color: #0aad0a;
    color: #f0f3f2 !important
}

.Loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
 background-color: rgba(240, 243, 242, .5);
}

.main-color{
    color: var(--main-color) !important;
}
.btn-border{
    border: solid 1px var(--main-color) !important;
    transition: all .5s !important;
}
.btn-border:hover{
    background-color:  var(--main-color) !important;
    color: #fff !important;
}

img{
    object-fit: cover;
}


  .active{
    color: #0aad0a!important;
    font-weight: bolder;
  }